/*header{
.  background-image: url("http://www.bonfireadventures.com/new/wp-content/uploads/2017/04/1.jpg");
  height: 400px;
  width: inherit;

}
background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0d/b6/5e/d3/mombasa-tusks.jpg");*/
/*html{
background-color:#4d88ff;
}
h2{
text-align: center;
}
img{
margin: 0px;
width: 100%;
height: 400px;
}
h1{
font-size: 80px;
}
header{
position: relative;
left: 20%;
}*/
/*.carousel-item {
  height:40%;
}
.carousel-caption{
color: white;
font-weight: bolder;
}*/
